ul {
    padding-left: 0;
    list-style: none;
}

ul li.active {
    background: #fff1df;
}
ul li a {
    text-decoration: none;
    padding: 2px 5px;
    display: block;
}
ul li a:hover {
    background-color: #ffedc4;
    text-decoration: none;
}

#orm-calc input[type=text] {
    text-align: right;
}

#orm-calc #orm-result {
    text-align: right;
    padding-right: 15px;
    /*padding: 5px 10px 0 0;*/
    border-top: 1px dotted black;
}